
<head>

</head>

{% extends "base.html" %}
{% load i18n %}
{% load kategorie_sidebar %}
{% load url from future %}
{% block side_box %}
<div id="sidebox">
    <h3><center>{% trans "Kategorie" %}</center></h3>
    {% kategorie_sidebar %}
</div>
{% endblock %}
{% block main_box %}

{% if form.errors %}
<p class="error">{% trans "Niepoprawne dane lub hasło" %}</p>
{% endif %}

<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
{% csrf_token %}
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>

<input type="submit" value='{% trans "Zaloguj"%}' />
<input type="hidden" name="next" value="{{ next }}" />
</form>

<INPUT TYPE="BUTTON"  VALUE='{% trans "Rejestracja"%}' ONCLICK="window.location.href='/sklep/rejestracja/'">
						<INPUT TYPE="BUTTON"  VALUE='{% trans "Zapomniales hasła"%}' ONCLICK="window.location.href='/sklep/password/reset/'">
						

{% endblock %}