
<head>

</head>

{% extends "base.html" %}
{% load kategorie_sidebar %}
{% load url from future %}
{% block side_box %}
<div id="sidebox">
    <h3><center>Kategorie</center></h3>
    {% kategorie_sidebar %}
</div>
{% endblock %}
{% block main_box %}

{% autoescape off %}
Otrzymałeś/aś tego e-maila, ponieważ poproszono o zresetowanie hasła do twojego konta. Jeśli nie prosiłeś o to usuń tego meila.

Naciśnij link aby dokonać zmiany hasła:
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'django.contrib.auth.views.password_reset_confirm' uidb36=uid token=token %}
{% endblock %}

Nazwa użytkownika: {{ user.username }}

Dziękujemy za używanie naszej strony

Zespół cytrynowego patrolu.

{% endautoescape %}
{% endblock %}