
<head>

</head>

{% extends "base.html" %}
{% load i18n %}
{% load kategorie_sidebar %}
{% load url from future %}
{% block side_box %}
<div id="sidebox">
    <h3><center>{% trans "Kategorie"%}</center></h3>
    {% kategorie_sidebar %}
</div>
{% endblock %}
{% block main_box %}


{% if validlink %}
<p>{% trans "Proszę podaj nowe hasło"%}</p>
<form action="" method="post">{% csrf_token %}
  <table>
    <tr>
      <td>{{ form.new_password1.errors }}<label for="id_new_password1">{% trans "Nowe hasło"%}</label></td>
      <td>{{ form.new_password1 }}</td>
    </tr>
    <tr>
      <td>{{ form.new_password2.errors }}<label for="id_new_password2">{% trans "Powtórz hasło"%}</label></td>
      <td>{{ form.new_password2 }}</td>
    </tr>
    <tr>
      <td></td>
      <td><input type="submit" value='{% trans "Zmień hasło"%}' /></td>
    </tr>
  </table>
</form>
{% else %}
<h1>{% trans "Nie udało się zresetować hasła"%}</h1>
<p>{% trans "Link był nieprawidłowy, być może został użyty. Zresetuj hasło ponownie."%}</p>
{% endif %}{% endblock %}