{% load i18n %}
{% autoescape off %}
{% trans "Otrzymałeś/aś tego e-maila, ponieważ poproszono o zresetowanie hasła do twojego konta. Jeśli nie prosiłeś o to usuń tego meila.

Naciśnij link aby dokonać zmiany hasła:"%}


{% block reset_link %}
{{ protocol }}://cytrynowypatrol.no-ip.org:8000{% url django.contrib.auth.views.password_reset_confirm uidb36=uid, token=token %}
{% endblock %}

{% blocktrans with name=user.username context "greeting" %}Nazwa użytkownika: {{ name }}{% endblocktrans %}

{% trans "Dziękujemy za używanie naszej strony

Zespół cytrynowego patrolu."%}


{% endautoescape %}


