
{% extends "base.html" %}
{% load i18n %}
{% load kategorie_sidebar %}

{% block main_box %}
<h2>{% trans "Kontakt" %}</h2>
<p>{% trans "Dane firmy: ZPI 2012 Sp. z o.o." %}</p>
<p>{% trans "Adres: Wrocław, ul. Politechnicka 1" %}</p>
<p>{% trans "Telefon: (11) 111-11-11" %}</p>
<p>{% trans "nr konta: PL 11 1111 1111 1111 1111 1111 1111" %}</p>
<p>{% trans "Adres e-mail: cytrynowypatrol@gmail.com" %}</p>

{% endblock %}

{% block side_box %}
<div id="sidebox">
    <h3><center>{% trans "Kategorie" %}</center></h3>
    {% kategorie_sidebar %}
</div>
{% endblock %}







