
<head>
<style type="text/css">
.style1 {
				text-align: center;
}
</style>
</head>

{% extends "base.html" %}
{% load i18n %}
{% load kategorie_sidebar %}

{% block main_class %}{% endblock %}

{% block side_box %}
<div id="sidebox">
    <h3><center>{% trans "Kategorie" %}</center></h3>
    {% kategorie_sidebar %}
</div>
{% endblock %}
{% block main_box %}

    <h2>{% trans "Produkty" %}{% if kategoria1 %} {% trans "z kategorii" %} {{ kategoria1|lower }}  <a href="{% url sklep_kategoria_rosnace kategoria1.identyfikator %}">rosnące </a> <a href="{% url sklep_kategoria_malejace kategoria1.identyfikator %}">malejaco </a>  {% else %}  <a href="{% url sklep_produkty_rosnace %}">rosnące </a> <a href="{% url sklep_produkty_malejace %}">malejaco </a> {% endif %}</h2>

    {% for object in object_list %} <br>
<table style="width: 100%">
				<tr>
								<td style="width: 200px" class="style1">
		<img src="{{ object.zdjecie }}" HEIGHT="200" WIDTH="200" style="float: inherit"/></td>
								<td class="style1"><h4 class="style1">{{ object.nazwa_towaru }}</h4>
        						<div class="style1">
        {{ object.opis|linebreaks }} </div>
		<p class="style1">{% trans "Kategorie:" %} {{ object.kategoria }} </p>
         <!--<p class="style1">{% trans "Ilość w sklepie:" %} {{ object.ilosc_w_sklepie }}</p>-->
		<p class="style1">{% if object.ilosc_w_sklepie > object.minimum_towar %}{% trans "Wysyłka w ciągu 24 godzin" %} {% else %} {% trans "Wysyłka w ciągu 7 dni" %} {% endif %} </p>
	 <!--<p>Minimum: {{ object.minimum_towar|floatformat:"2" }} </p>-->
	 <p class="style1">{% trans "Cena:" %} {{ object.cena_sklepowa|floatformat:"2" }} zł  - <a href="{% url sklep_koszyk_dodaj object.pk %}">{% trans "Dodaj do koszyka" %}</a></p>
    							</td>
				</tr>
				<tr>
								<td style="width: 200px" class="style1">
		&nbsp;</td>
								<td><hr></td>
				</tr>
</table>
		    {% endfor %}

    {% if is_paginated %}
        <div>
            {% if has_previous %}<a href="?page={{ previous }}">{% trans "Poprzednia" %}</a>{% endif %}
            {% if has_next %}<a href="?page={{ next }}">{% trans "Następna" %}</a>{% endif %}
        </div>
    {% endif %}
{% endblock %}