<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>ZPI</title>
  <meta name="description" content="" /> 
  <link rel="stylesheet" href="/files/style.css" type="text/css" />
  <script type="text/javascript" src="clock.js"></script>
	<style type="text/css">
    .style3 {
	font-size: 60px;
}
.style4 {
	font-size: 40px;
}
    .style5 {
				text-align: center;
}
    </style>
	<script type="text/javascript">
<!--
function FP_swapImg() {//v1.0
 var doc=document,args=arguments,elm,n; doc.$imgSwaps=new Array(); for(n=2; n<args.length;
 n+=2) { elm=FP_getObjectByID(args[n]); if(elm) { doc.$imgSwaps[doc.$imgSwaps.length]=elm;
 elm.$src=elm.src; elm.src=args[n+1]; } }
}

function FP_preloadImgs() {//v1.0
 var d=document,a=arguments; if(!d.FP_imgs) d.FP_imgs=new Array();
 for(var i=0; i<a.length; i++) { d.FP_imgs[i]=new Image; d.FP_imgs[i].src=a[i]; }
}

function FP_getObjectByID(id,o) {//v1.0
 var c,el,els,f,m,n; if(!o)o=document; if(o.getElementById) el=o.getElementById(id);
 else if(o.layers) c=o.layers; else if(o.all) el=o.all[id]; if(el) return el;
 if(o.id==id || o.name==id) return o; if(o.childNodes) c=o.childNodes; if(c)
 for(n=0; n<c.length; n++) { el=FP_getObjectByID(id,c[n]); if(el) return el; }
 f=o.forms; if(f) for(n=0; n<f.length; n++) { els=f[n].elements;
 for(m=0; m<els.length; m++){ el=FP_getObjectByID(id,els[n]); if(el) return el; } }
 return null;
}
// -->
</script>
</head>
<body onload="FP_preloadImgs(/*url*/'button6.jpg',/*url*/'button7.jpg')">

<form id="form" runat=server>
<div class="external">
  <div id="logo">
    <h1 style="left: 159px; top: 37px; width: 697px"><span class="style3">A</span><span class="style4">RTYKUŁY BIUROWE</span></h1>
	<h2 style="left: 101px; top: 103px; width: 498px">Sklep internetowy</h2>
	<ul id="menu" style="right: -40px; bottom: 11px; width: 1005px">
	  <li><img id="img1" src="/files/button5.jpg" alt=""  fp-style="fp-btn: Corporate 2" fp-title=""><a href="/sklep/" style="margin:5; line-height:2; left: 0px; top: -1px; width: 190px; height: 40px;" onmouseover="FP_swapImg(1,0,/*id*/'img1',/*url*/'../../../../../../files/button6.jpg')" onmouseout="FP_swapImg(0,0,/*id*/'img1',/*url*/'../../../../../../files/button5.jpg')" onmousedown="FP_swapImg(1,0,/*id*/'img1',/*url*/'../../../../../../files/button7.jpg')" onmouseup="FP_swapImg(0,0,/*id*/'img1',/*url*/'../../../../../../files/button6.jpg')"><center>Strona Główna</center></a></li>
	  <li><img id="img2" src="/files/button5.jpg" alt=""  fp-style="fp-btn: Corporate 2" fp-title=""><a href="/sklep/produkty/" style="margin:5; line-height:2; left: 192px; top: -2px; width: 190px; height: 40px;" onmouseover="FP_swapImg(1,0,/*id*/'img2',/*url*/'../../../../../../files/button6.jpg')" onmouseout="FP_swapImg(0,0,/*id*/'img2',/*url*/'../../../../../../files/button5.jpg')" onmousedown="FP_swapImg(1,0,/*id*/'img2',/*url*/'../../../../../../files/button7.jpg')" onmouseup="FP_swapImg(0,0,/*id*/'img2',/*url*/'../../../../../../files/button6.jpg')"><center>Produkty</center></a></li>
      <li><img id="img3" src="/files/button5.jpg" alt=""  fp-style="fp-btn: Corporate 2" fp-title=""><a href="/sklep/koszyk/" style= "margin:5; line-height:2; left: 386px; top: -2px; width: 190px; height: 40px;" onmouseover="FP_swapImg(1,0,/*id*/'img3',/*url*/'../../../../../../files/button6.jpg')" onmouseout="FP_swapImg(0,0,/*id*/'img3',/*url*/'../../../../../../files/button5.jpg')" onmousedown="FP_swapImg(1,0,/*id*/'img3',/*url*/'../../../../../../files/button7.jpg')" onmouseup="FP_swapImg(0,0,/*id*/'img3',/*url*/'../../../../../../files/button6.jpg')"><center>Koszyk {{ stan_koszyka }}</center></a></li>
	  <li><img id="img4" src="/files/button5.jpg" alt=""  fp-style="fp-btn: Corporate 2" fp-title=""><a href="/sklep/kontakt/" style= "margin:5; line-height:2; left: 576px; top: -3px; width: 190px; height: 40px;" onmouseover="FP_swapImg(1,0,/*id*/'img4',/*url*/'../../../../../../files/button6.jpg')" onmouseout="FP_swapImg(0,0,/*id*/'img4',/*url*/'../../../../../../files/button5.jpg')" onmousedown="FP_swapImg(1,0,/*id*/'img4',/*url*/'../../../../../../files/button7.jpg')" onmouseup="FP_swapImg(0,0,/*id*/'img4',/*url*/'../../../../../../files/button6.jpg')"><center>Kontakt</center></a></li>
	  <li><img id="img5" src="/files/button5.jpg" alt=""  fp-style="fp-btn: Corporate 2" fp-title=""><a href="./" style= "margin:5; line-height:2; left: 769px; top: -1px; width: 190px; height: 40px;" onmouseover="FP_swapImg(1,0,/*id*/'img5',/*url*/'../../../../../../files/button6.jpg')" onmouseout="FP_swapImg(0,0,/*id*/'img5',/*url*/'../../../../../../files/button5.jpg')" onmousedown="FP_swapImg(1,0,/*id*/'img5',/*url*/'../../../../../../files/button7.jpg')" onmouseup="FP_swapImg(0,0,/*id*/'img5',/*url*/'../../../../../../files/button6.jpg')"><center>Zaloguj/Zarejestruj</center></a></li>
    </ul>
  </div>

  <div id="main">
    <table style="width: 100%">
					<tr>
									<td style="width: 304px; vertical-align: top;">{% block side_box %}{% endblock %} </td>
									<td><div class="style5">
{% block main_box %}{% endblock %} </div>
  </div></td>
					</tr>
					<tr>
									<td style="width: 304px">&nbsp;</td>
									<td>{% block main_class %}{% endblock %}</td>
					</tr>
	</table>
    

	
    
</div>
<div id="footer">
  <span id="date_time"></span><script type="text/javascript">window.onload = date_time('date_time');</script>

                                    &nbsp;
                                    <br />
    </td>
				  
    </form>
</body>
</html>
