{% load i18n %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>{% trans "ZPI" %}</title>
  <meta name="description" content="" /> 
  <link rel="stylesheet" href="/files/style.css" type="text/css" />
  	<script type="text/javascript" src="/files/js/jquery.js"></script>
	<script src="http://code.jquery.com/jquery-latest.js"></script>
	<style type="text/css">
    .style3 {
	font-size: 60px;
}
.style4 {
	font-size: 40px;
}
    .style5 {
	margin-top: 1;
}
    </style>
</head>


<form id="form" runat=server>
<div class="external">
 <a> {% if request.user.is_authenticated %}
						<a class="style6">{% blocktrans with name=user.username context "greeting" %}Witaj, {{ name }}{% endblocktrans %}</a>
						<!--<
						a href="/sklep/accounts/logout/">   Wyloguj sie</a>
						-->
						
						<INPUT TYPE="BUTTON" style="background:blue" VALUE='{% trans "Wyloguj sie"%}' ONCLICK="window.location.href='/sklep/accounts/logout/'"> 
						<!--<INPUT TYPE="BUTTON" VALUE="ZmieĹ„ dane" ONCLICK="window.location.href='/sklep/klient/'">
						-->
						<INPUT TYPE="BUTTON" style="background:blue" VALUE='{% trans "Zmień dane"%}' ONCLICK="window.location.href='{% url zmien_klienta user.pk %}'">
						<!--
						<INPUT TYPE="BUTTON" VALUE="Obsluga" ONCLICK="window.location.href='/sklep/index/'">-->
					
						
						{% else %}
						<a class="style6">{% trans "Jesteś niezalogowany" %}</a>
						<form method="post" action="/accounts/login/" accept-charset="">{%csrf_token%}
						<input type="hidden" name="next" value="{{ NEXT }}" />
						</form>
						
						<INPUT TYPE="BUTTON" style="background:blue" VALUE='{% trans "Zaloguj"%}' ONCLICK="window.location.href='/sklep/logowanie/'"> 
						<INPUT TYPE="BUTTON" style="background:blue" VALUE='{% trans "Rejestracja"%}' ONCLICK="window.location.href='/sklep/rejestracja/'">
						<INPUT TYPE="BUTTON" style="background:blue" VALUE='{% trans "Zapomniales hasła"%}' ONCLICK="window.location.href='/sklep/password/reset/'">
						
						{% endif %} </a>
						
  <div id="logo">
    <h1 style="left: 205px; top: 5px; width: 535px"><span class="style3">{% trans "A"%}</span><span class="style4">{% trans "RTYKUŁY BIUROWE"%}</span></h1>
	<h2 style="left: 214px; top: 71px; width: 200px">{% trans "Sklep internetowy"%}</h2>
	<ul id="menu" style="right: -56px; bottom: 1px; width: 776px" class="style5">
	  <li><a href="/sklep/" class="links"><center>{% trans "Strona Główna"%}</center></a></li>
	  <li><a href="/sklep/produkty/" class="links"><center>{% trans "Produkty"%}</center></a></li>
      <li><a href="/sklep/koszyk/" class="links"><center>{% blocktrans %}Koszyk ({{ stan_koszyka }}) {% endblocktrans %}</center></a></li>
	  <li><a href="/sklep/kontakt/" class="links"><center>{% trans "Kontakt"%}</center></a></li>
    </ul>
  </div>

  <div id="main">
  <br>
    <table style="width: 100%">
					<tr>
									<td style="width: 190px; height:50px; vertical-align: top; text-align: center; background-color: #C0C0C0;" class="style6">{% block side_box %}{% endblock %} </td>
									<td style="width: 30px">&nbsp;</td>
									<td><div class="style5">
{% block main_box %}{% endblock %} </div>
  </div></td>
					</tr>
					<tr>
									<td style="width: 190px; height:25px background-color: #C0C0C0;">&nbsp;</td>
									<td style="width: 30px">&nbsp;</td>
									<td>{% block main_class %}{% endblock %}</td>
					</tr>
	</table>    </div>

  </div>
    
</div>
<div id="footer">				<ul class="language_holder"> 
				<a href="/sklep/setlang/pl/"> 
				<img src="/files/Pictures/polski.jpg"></a>
				 
				<a href="/sklep/setlang/en/"> 
				<img src="/files/Pictures/english.jpg"></a>

				</ul> 
                                    <br />
    </td>
				  
    </form>
</body>
</html>
