<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>ZPI</title>
  <meta name="description" content="" /> 
  <link rel="stylesheet" href="/files/style.css" type="text/css" />
  	<script type="text/javascript" src="/files/js/jquery.js"></script>
	<script src="http://code.jquery.com/jquery-latest.js"></script>
	<style type="text/css">
    .style3 {
	font-size: 60px;
}
.style4 {
	font-size: 40px;
}
    .style5 {
	margin-top: 1;
}
    </style>
</head>


<form id="form" runat=server>
<div class="external">
 <a> {% if request.user.is_authenticated %}
						<a>Witaj, {{ user.username }}</a>
						<!--<
						a href="/sklep/accounts/logout/">   Wyloguj sie</a>
						-->
						
						<INPUT TYPE="BUTTON" VALUE='wyloguj sie' ONCLICK="window.location.href='/sklep/accounts/logout/'"> 
						<!--
						<INPUT TYPE="BUTTON" VALUE="Zmień dane1" ONCLICK="window.location.href=''">
						
						<INPUT TYPE="BUTTON" VALUE="Zmień dane2" ONCLICK="window.location.href='/sklep/add/'">-->
					
						
						{% else %}
						<a>Jesteś niezalogowany</a>
						<form method="post" action="/accounts/login/" accept-charset="">{%csrf_token%}
						<input type="hidden" name="next" value="{{ NEXT }}" />
						</form>
						<INPUT TYPE="BUTTON" VALUE="Zaloguj" ONCLICK="window.location.href='/sklep/logowanie/'"> 
						<INPUT TYPE="BUTTON" VALUE="Rejestracja" ONCLICK="window.location.href='/sklep/rejestracja/'">
						
						{% endif %} </a>
  <div id="logo">
    <h1 style="left: 205px; top: 5px; width: 535px"><span class="style3">A</span><span class="style4">RTYKUŁY BIUROWE</span></h1>
	<h2 style="left: 214px; top: 71px; width: 200px">Sklep internetowy</h2>
	<ul id="menu" style="right: -56px; bottom: 1px; width: 776px" class="style5">
	  <li><a href="/sklep/" class="links"><center>Strona Główna</center></a></li>
	  <li><a href="/sklep/produkty/" class="links"><center>Produkty</center></a></li>
      <li><a href="/sklep/koszyk/" class="links"><center>Koszyk {{ stan_koszyka }}</center></a></li>
	  <li><a href="/sklep/kontakt/" class="links"><center>Kontakt</center></a></li>
    </ul>
  </div>

  <div id="main">
    <table style="width: 100%">
					<tr>
									<td style="width: 230px; vertical-align: top; background-color: #C0C0C0;">{% block side_box %}{% endblock %} </td>
									<td style="width: 30px">&nbsp;</td>
									<td><div class="style5">
{% block main_box %}{% endblock %} </div>
  </div></td>
					</tr>
					<tr>
									<td style="width: 230px; background-color: #C0C0C0;">&nbsp;</td>
									<td style="width: 30px">&nbsp;</td>
									<td>{% block main_class %}{% endblock %}</td>
					</tr>
	</table>    </div>

  </div>
    
</div>
<div id="footer">
                                    <br />
    </td>
				  
    </form>
</body>
</html>
